<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="Url" value="http://automationpractice.com/index.php?controller=contact" />
    <add key="env" value="prod" />
    <add key="gridRun" value="Y" />
    <!---Default login credentials-->
    <add key="Browser" value="Chrome" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="PageLoadTimeout" value="240" />
    <add key="ElementLoadTimeout" value="2" />
     <!---Paths-->
  <add key="srow" value="2" />
  <add key="erow" value="3" />
   <add key="chromedriver" value="" />
   <add key="iedriver" value="" />
   <add key="reportFolder" value="" />
   <add key="TestDataFilepath" value="D:\Everbridge\AutomationFramework -Nunit - Parallel\AutomationFramework\Test\Data\TestData.xlsx" />
   <add key="logFilePath" value="D:\Everbridge\AutomationFramework -Nunit - Parallel\AutomationFramework\Test\Logs" />
   <add key="downloadFilepath" value="D:\Everbridge\AutomationFramework -Nunit - Parallel\AutomationFramework\Test\Downloads" />
  <!---DB credentials-->
     <add key="DBUserName" value="" />
     <add key="DBPassword" value="" />
     <add key="DBServerName" value="" />
     <add key="IntegratedSecurity" value="SSPI" />
     <add key="PersistSecurityInfo" value="False" />
   </appSettings>
   <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>